.login__input {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: transparent transparent #429156 transparent;
    -fx-background-color: transparent;
    -fx-padding: 10px 0 10px 10px;
    -fx-font-weight: bold;
    -fx-transition: -fx-border-color 0.2s;
}

.login__input:focused,
.login__input:hover {
    -fx-border-color: transparent transparent #429156 transparent;
    -fx-outline: none;
}

.login__submit {
    -fx-background-color: #fff;
    -fx-background-radius: 25px;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-border-color: #D4D3E8;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-font-weight: bold;
    -fx-display: flex;
    -fx-alignment: center;
    -fx-text-fill: #429156;
    -fx-effect: dropshadow(gaussian, #429156, 2, 0.0, 0, 2);
    -fx-transition: -fx-border-color 0.2s;
}

.login__submit:focused,
.login__submit:hover {
    -fx-border-color: #7bc48d;
    -fx-outline: none;
}

.form-input {
    -fx-padding: 3px 3spx;
    -fx-pref-height: 27px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #DDE3EC;
    -fx-background-color: #FFFFFF;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-text-fill: #536387;
    -fx-focus-color: transparent;
}

.form-input-datepicker {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #DDE3EC;
    -fx-background-color: #FFFFFF;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-text-fill: #536387;
    -fx-focus-color: transparent;
}

.form-input:focused,
.form-input:hover {
    -fx-border-color: #6a64f1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 8, 0, 0, 3);
}


.menu-style{
    -fx-background-color: #f4f4f4;
    -fx-effect: dropshadow(three-pass-box, #D1D1D1, 3, 0.1, 2, 0);
}

.menu-btn{
    -fx-background-color: #f4f4f4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: gray;
    -fx-background-radius: 0;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-focus-color: transparent;
    -fx-pref-width: 200px;
}

.menu-btn:hover{
    -fx-background-color: #E0E0E0;
}

.menu-btn-logout{
    -fx-border-width: 1px 0px 0px 0px;
}